{% extends "base.html" %}

{% block content %}

<dir class="buffer">
	<fieldset>
		<legend>Your Feedback</legend>
		After reading my lesson notes, please leave your feedback here. I would love to hear what you think about my website:)
		<form id="form_content" action="/sign?feedback_name={{ feedback_name }}" method="post">
			<textarea id="content" name="content" rows="3" cols="60"></textarea><br>
			<input type="submit" value="Leave Feedback">
			{% if error %}
			<span class="notification" id="error">{{ error }}</span>
			{% endif %}
		</form>
		<hr>
		<form id="form_author">
			Your name:
			<input value="{{ feedback_name }}" name="feedback_name">
			<input type="submit" value="switch">
			<a id="login-logout" href="{{ url|safe }}">{{ url_linktext }}</a>		
		</form>
	</fieldset>	
</dir>


{% if success %}
	<blockquote>
		<span class="notification" id="success">{{ success }}</span>
	</blockquote>
{% endif %}

<div class="buffer">
	<table>
		<caption>Feedback</caption>
		<tr><th>Who</th><th>When</th><th>What</th></tr>
		{% if feedback_list %}
			{% for feedback in feedback_list %}
				<tr>
					<td id="author">
					{% if feedback.author %}
						{{ feedback.author.email }}
							{% if user and user.user_id() == feedback.author.identity %}
								(You)
							{% endif %}
					{% else %}
						Anonymous Author
					{% endif %}			
					</td>
					<td id="datetime">{{ feedback.datetime|datetimeformat }}</td>
					<td id="content">{{ feedback.content }}</td>
				</tr>
			{% endfor %}
		{% endif %}
	</table>
</div>

{% endblock %}