{% extends "base.html" %}

{% block content %}
    <div class="introduction">
        <p>
            Welcome to my Website! My name is Akiko Forbes.<br>
            I'm currentry taking the Intro to Programming Nanodegree (IPND) at Udacity.
        </p>
        <p>
            This is a website of what I learnt in the IPND's Stage 4. For more information about this course, please visit <a href="https://www.udacity.com/course/intro-to-programming-nanodegree--nd000">here</a>
        </p>
        <div class="check-notes">
            Ready for checking out my notes? <br>Please hover your mouse and select a unit from the dropdown menu. Enjoy!
        </div>
    </div>
{% endblock %}

